* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contanier {
  max-width: 1291px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* header */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__contanier {
  max-width: 1291px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  border-bottom: 1px solid #46a35880;
}
.header__logo {
  display: flex;
}
.header__nav__list {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header__nav__item {
  list-style: none;
}
.header__nav__link {
  text-decoration: none;
  font-family: Cera Pro, monospace;
  font-size: 16px;
  line-height: 20.11px;
  color: #3d3d3d;
}

/* :hover , :active */
.header__nav__link:hover {
  border-bottom: 3px solid #46a358;
  padding-bottom: 25px;
}
.header__nav__link:active {
  font-family: Cera Pro, monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
}
.header-nav-link-active {
  font-family: Cera Pro, monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  border-bottom: 3px solid #46a358;
  padding-bottom: 25px;
}

.header__buysearchlogin {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__search {
  display: flex;
}
.header__search:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.header__buy {
  display: flex;
}
.header__buy:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.header__btn {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 7px 17px 8px 17px;
  background-color: #46a358;
  font-family: Cera Pro, monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
  cursor: pointer;
  text-align: left;
  color: #ffffff;
  border: navajowhite;
  border-radius: 6px;
}
.header__btn:hover {
  background-color: #3d3d3d;
  color: yellowgreen;
  transition: all 0.3s;
}
.header__btn__svg {
  display: flex;
}
.header__bar {
  display: none;
}

/* header responcive */

@media (max-width: 1200px) {
  .header {
    display: none;
  }
}

/* hero */

.hero {
  padding-top: 12px;
  padding-bottom: 12px;
}
.hero__contanier {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f580;
}
.hero__headings {
  max-width: 585px;
  padding-top: 68px;
  padding-left: 44px;
}
.hero__headings__heading {
  font-family: Cera Pro, monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-bottom: 7px;
}
.hero__headings__title {
  font-family: Cera Pro, monospace;
  font-size: 75px;
  font-weight: 900;
  line-height: 70px;
  text-align: left;
  margin-bottom: 5px;
}
.hero__headings__title__span {
  color: #46a358;
}
.hero__headings__text {
  font-family: Cera Pro, monospace;
  color: #727272;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 44px;
}
.hero__headings__btn {
  padding: 11px 27px 9px 26px;
  background-color: #46a358;
  border-radius: 6px;
  font-family: Cera Pro, monospace;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
}
.hero__headings__btn:hover {
  background-color: #3d3d3d;
  color: yellowgreen;
  transition: all 0.3s;
}
.hero__right__bg__img {
  display: flex;
  max-width: 518px;
}

.hero__button__list {
  display: flex;
  gap: 8px;
  align-items: end;
  list-style: none;
}
.hero__button__link {
  list-style: none;
}

/* hero responcive */
@media (max-width: 1170px) {
  .hero__contanier {
    flex-direction: column;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__headings {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__headings__title {
    font-size: 65px;
  }
  .hero__right__bg__img {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__right__bg__position__img {
    top: 820px;
    left: 50px;
  }
}
@media (max-width: 600px) {
  .hero__right__bg__img {
    width: 100%;
  }
  .hero__headings__title {
    font-size: 40px;
    font-weight: 500;
  }
  .hero__headings__text {
    font-size: 12px;
    font-weight: 400;
  }
  .hero__headings__btn {
    padding: 6px 13px;
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 420px) {
  .hero__headings__heading {
    font-size: 10px;
    margin-bottom: 18px;
  }
  .hero__headings__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 18px;
  }
  .hero__right__bg__position__img {
    display: none;
  }
}

.categories {
  padding-top: 13px;
  padding-bottom: 47px;
}
.categories__contanier {
  width: 100%;
  display: flex;
  gap: 50px;
}
.categories__infos {
  background-color: #fbfbfb;
  max-width: 370px;
  padding: 14px 24px 19px 18px;
}
.categories__heading__title {
  font-family: Cera Pro, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #3d3d3d;
  margin-bottom: 7px;
}
.categories__heading__list {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  margin-bottom: 36px;
}
.categories__heading__item {
  list-style: none;
}
.categories__heading__link {
  text-decoration: none;
  color: #3d3d3d;
  font-family: Cera Pro, monospace;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.categories__heading__link:hover {
  transition: all 0.3s;
  color: #46a358;
  font-weight: 600;
}
.categories__heading__link-active {
  color: #46a358;
  font-weight: 600;
}
.categories__infos__heading3 {
  margin-bottom: 20px;
}
.categories__infos__heading__form {
  padding-left: 12px;
}
.categories__infos__heading__input {
  max-width: 209px;
  height: 2px;
  color: #46a358;
  margin-bottom: 15px;
  cursor: pointer;
}
.categories__infos__heading__input__text {
  font-family: Cera Pro, monospace;
  color: #3d3d3d;
  font-size: 15px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 16px;
}
.categories__infos__heading__input__text__span {
  color: #46a358;
  font-weight: 700;
}
.ategories__infos__heading__input__btn {
  padding: 8px 25px 7px 26px;
  background-color: #46a358;
  border-radius: 6px;
  color: #ffffff;
  font-family: Cera Pro, monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  border: none;
  margin-bottom: 46px;
  cursor: pointer;
}
.ategories__infos__heading__input__btn:hover {
  color: yellowgreen;
  background-color: #3d3d3d;
  transition: all 0.3s;
}
.categories__infos__heading__img {
  display: flex;
}
.categories__right {
  max-width: 840px;
}
.categories__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.categories__top__list {
  display: flex;
  gap: 38px;
}
.categories__top__item {
  list-style: none;
}
.categoris__top__link {
  text-decoration: none;
  font-family: Cera Pro, monospace;
  color: #3d3d3d;
  font-size: 15px;
  line-height: 16px;
  text-align: left;
}
.categoris__top__link:hover {
  color: #46a358;
  font-weight: 600;
  border-bottom: 2px solid #46a358;
  padding-bottom: 7px;
}
.categoris__top__link-active {
  color: #46a358;
  font-weight: 600;
  border-bottom: 2px solid #46a358;
  padding-bottom: 7px;
}
.categories__top__link {
  font-family: Cera Pro, monospace;
  color: #3d3d3d;
  cursor: pointer;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.categories__top__link__span {
  font-family: Cera Pro, monospace;
  color: #3d3d3d;
  cursor: pointer;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.categoris__top__link__span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.categories__top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 33px;
  grid-row-gap: 70px;
}
.categories__top__cards__card {
  max-width: 258px;
}
.categories__top__cards__card_bg {
  height: 300px;
  background-color: #fbfbfb;
  cursor: pointer;
  margin-bottom: 12px;
}
.categories__top__cards__card_bg:hover {
  border-top: 1px solid #46a358;
}
.categories__top__cards__bg__hoverlinks {
  width: 125px;
  display: flex;
  gap: 26px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
  cursor: pointer;
}
.categories__top__cards__bg:hover {
  display: flex;
}
.categories__top__cards__bg__hoverlinks-active {
  display: flex;
}
.categories__top__cards__bg__hoverlinks__shop {
  display: flex;
}
.categories__top__cards__bg__hoverlinks__like {
  display: flex;
}
.categories__top__cards__bg__hoverlinks__search {
  display: flex;
}
.categories__top__cards__card__img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.categories__top__cards__card__text {
  font-family: Cera Pro, monospace;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 6px;
}
.categories__top__cards__card__many {
  font-family: Cera Pro, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #46a358;
}
.categories__top__cards__card__many__span {
  color: #a5a5a5;
  text-decoration: line-through;
  text-align: center;
  padding-left: 16px;
}
.categories__swipper__list {
  display: flex;
  gap: 10px;
}
.categories__swipper__item {
  list-style: none;
}
.categories__swipper__link {
  text-decoration: none;
  font-family: Cera Pro, monospace;
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  padding: 8px 11px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
.categories__swipper__link:hover {
  border: 1px solid #46a358;
  background-color: #46a358;
  color: white;
  padding: 8px 11px;
}
.categories__swipper__link-active {
  border: 1px solid #46a358;
  background-color: #46a358;
  color: white;
  padding: 8px 11px;
}
/* categories responsive */
@media (max-width: 1305px) {
  .categories__contanier {
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .categories__infos {
    margin-left: auto;
    margin-right: auto;
  }
  .categories__right {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-windth: 860px) {
  .categories__contanier {
    width: 100%;
  }
  .categories_top {
    flex-direction: column;
  }
}

.findmore {
  padding-top: 47px;
  padding-bottom: 69px;
}
.findmore__contanier {
  display: flex;
  gap: 28px;
}
.findmore__card {
  display: flex;
  gap: 10px;
  background-color: #fbfbfb;
  padding: 37px 30px 10px 5px;
}
.findmore__img__section {
  background-color: aqua;
}
.findmore__img {
  background-color: red;
  display: flex;
}
.findmore__section2 {
  max-width: 292px;
  padding-top: 37px;
}
.findmore__title {
  width: 150px;
  font-family: Cera Pro, monospace;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  margin-left: auto;
  text-align: right;
  margin-bottom: 9px;
}
.findmore__text {
  font-family: Cera Pro, monospace;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  margin-bottom: 25px;
}
.findmore__btn {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 11px 27px 9px 28px;
  border: none;
  background-color: #46a358;
  color: white;
  border-radius: 6px;
  font-family: Cera Pro, monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: auto;
  cursor: pointer;
}
.findmore__btn:hover {
  background-color: #3d3d3d;
  color: yellowgreen;
  transition: all 0.3s;
}
.finmore__btn__span {
  display: flex;
}

/* findmore responsive */

@media (max-width: 1305px) {
  .findmore__contanier {
    flex-direction: column;
  }
  .findmore__card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 620px) {
  .findmore__btn {
    padding: 9px 10px;
  }
}

.blog {
  padding-top: 69px;
  padding-bottom: 50px;
}
.blog__contanier {
  text-align: center;
}
.blog__title {
  color: #3d3d3d;
  font-family: Cera Pro, monospace;
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 15px;
}
.blog__text {
  color: #3d3d3d;
  font-family: Cera Pro, monospace;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 35px;
}
.blog__carts {
  display: flex;
  gap: 44px;
}
.blog__carts__cart {
  max-width: 268px;
  background-color: #fbfbfb;
}
.blog__cart__img {
  display: flex;
}
.blog__cart__img__info {
  padding: 9px 11px 12px 15px;
  text-align: left;
  width: 242px;
}
.blog__cart__img__time {
  color: #46a358;
  margin-bottom: 4px;
  font-family: Cera Pro, monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.blog__cart__title {
  color: #3d3d3d;
  font-family: Cera Pro, monospace;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 4px;
}
.blog__cart__text {
  color: #727272;
  font-family: Cera Pro, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 9px;
}
.blog__cart__link {
  color: #3d3d3d;
  display: flex;
  gap: 3px;
  align-items: center;
  text-decoration: none;
  font-family: Cera Pro, monospace;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
.blog__cart__link:hover {
  color: #46a358;
  transition: all 0.3s;
}
.blog__cart__link__span {
  display: flex;
  align-items: center;
}

/* blog responsive */

@media (max-width: 1260px) {
  .blog__carts {
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog__title {
    text-align: left;
  }

  .blog__text {
    width: 50%;
    text-align: left;
  }
}

@media (max-width: 700px) {
  .blog__title {
    font-size: 25px;
    text-align: left;
  }
  .blog__text {
    font-size: 14px;
    width: 50%;
    text-align: left;
  }
}

.footer {
  padding-top: 62px;
  padding-bottom: 13px;
}
.footer__contanier {
  background-color: #fbfbfb;
}
.footer__top {
}
.footer__top__section {
  display: flex;
  gap: 62px;
}
.footer__top__section__cart {
  max-width: 204px;
  padding: 25px 34px 24px 23px;
}
.footer__top__section__cart__img {
  display: flex;
  margin-bottom: 15px;
}
.footer__top__cart__title {
  font-family: Cera Pro, monospace;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #3d3d3d;
  margin-bottom: 9px;
}
.footer__top__cart__text {
  font-family: Cera Pro, monospace;
  font-size: 14px;
  line-height: 22px;
}
.footer__top__contact {
  padding: 37px 25px 33px 0;
}
.footer__top__contact__title {
  font-family: Cera Pro, monospace;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 700;
  line-heig
  
  ht: 16px;
  text-align: left;
}
.footer__top__contact__form {
  display: flex;
  margin-bottom: 17px;
}
.footer__top__contact__inp {
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 11px;
  border: none;
  border-radius: 6px 0 0 6px;
  box-shadow: -2px 3px 20px #0000000f;
  font-family: Cera Pro, monospace;
  color: #ACACAC;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.footer__top__contact__btn {
  width: 85px;
  padding: 12px 25px 12px 26px;
  background-color: #46a358;
  border-radius: 0 6px 6px 0;
  border: none;
  font-family: Cera Pro, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: white;
}
.footer__top__contact__text {
  font-family: Cera Pro, monospace;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #727272;
}

/* footer top responsive */

@media(max-width: 1230px){
  .footer__top__section{
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  .footer__top__contact{
    width: 360px;
  }
}
